{% extends "page.twig" %}

{% block content %}

	{# HOME BANNER EXAMPLE #}
	<section class="home-banner relative h-[450px] sm:h-[550px] md:h-[650px] lg:h-[750px] 2xl:h-[850px]">
		<video class="absolute top-0 left-0 z-10 h-full object-cover w-full" preload="auto" loop autoplay muted playsinline>
			<source class="absolute top-0 left-0 h-full w-full" src="{{ fields.home_banner.background_video_link }}" type="video/mp4" poster="{{ fields.home_banner.video_poster.url }}">
			Your browser does not support the video tag.
		</video>
		<div class="absolute z-10 top-0 left-0 w-full h-full bg-black bg-opacity-40"></div>
		<div class="relative z-20 container flex items-center justify-center h-full text-white mt-5">
			<div class="block-content items-center text-center">
				<h1>{{ fields.home_banner.heading }}</h1>
				<h2 class="is-h4">{{ fields.home_banner.subheading }}</h2>
				<a class="button banner-button !p-0 !text-base md:!text-xl tracking-wider" href="#">Get started</a>
			</div>
		</div>
	</section>

	{# STANDARD SECTION EXAMPLE #}
	<section class="bg-slate-100">
		<div class="container">
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</div>
	</section>

	{# SLIDER SECTION EXAMPLE #}

	<section class="bg-slate-300">
		<div class="container">
			<div class="simple-slider px-6 overflow-hidden">
				<div class="swiper-wrapper">
					{% for item in 0..2 %}
						<div class="swiper-slide">
							<div class="block-content text-center">
								<h3>Swipey Swipe 👉</h3>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus temporibus, fugit fugiat ab laudantium sint cumque quasi repellat tempora reprehenderit nobis earum amet dicta veritatis facilis saepe molestiae odio libero.</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="swiper-pagination !relative !mt-6"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</section>

	{# ROUNDED TOP SECTION EXAMPLE #}
	<div class="bg-slate-300">
		<section class="bg-slate-200 rounded-top">
			<div class="container">
				{% include "components/accordion.twig" %}
			</div>
		</section>
	</div>

{% endblock %}
