{% extends "page.twig" %}

{% block banner %}
	{% include "banners/minimal-banner.twig" %}
{% endblock %}

{% block content %}
	<section class="bg-brandBackground">
		<div class="container">
			<div class="container bg-white -mt-[250px]">
				<div class="container-small flex flex-col gap-8 md:gap-14 md:items-center pt-7 pb-6 md:py-14">
                    {{ function('do_shortcode', '[gravityform id="2" title="false" description="false" ajax="false"]') }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
