{% extends "page.twig" %}

{% block banner %}
	{% include "banners/destination-banner.twig" %}
{% endblock %}

{% block content %}
	{% if fields.about.content %}
		<section class="relative">
			<div class="container">
				<div class="grid md:grid-cols-3 max-md:gap-4 md:gap-20 lg:gap-28">
					<div data-fade-down class="md:col-span-1">
						<h3 class="is-h4 large-heading">{{ fields.about.heading}}</h3>
					</div>
					<div class="about-destination-content md:col-span-2 block-content">
						{{ fields.about.content }}
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	<section class="relative !py-10">
		<div class="container items-center">
			<a href="/travel-types/{{ post.terms('travel-types')[0].slug }}" class="button round mx-auto">Back to
				{{ post.terms('travel-types')[0].name }}
				Travel</a>
		</div>
	</section>
{% endblock %}
