{% extends "page.twig" %}

{% block banner %}
	{% include "banners/internal-banner.twig" with { custom_title: 'Destinations', custom_heading: post.name ~ ' ' ~ 'Travel' } %}
{% endblock %}

{% block content %}
	<section class="bg-white relative">
		<div class="container">
			<h4 data-fade-up class="large-heading mx-auto text-center lg:mt-16 max-lg:mb-12 font-semibold lg:w-1/3 px-2">Select your destination:</h4>
			<div class="grid grid-cols-2 lg:grid-cols-3 gap-10 lg:-mt-24">
				{% for item in travel_type_destinations %}
					{% include "tease-destination.twig" %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
