{% extends "page.twig" %}

{% block banner %}
	{% include "banners/internal-banner.twig" with { custom_title: 'Destinations', custom_heading: post.name ~ ' ' ~ 'Travel' } %}
{% endblock %}

{% block content %}
	<section class="bg-white relative">
		<div class="container">
			<div class="grid grid-cols-3 gap-10">
				{% for item in single_location_destinations %}
					{% include "tease-destination.twig" %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
