.button,
.is-button {
	@apply text-base duration-200 ease-in-out font-normal w-fit tracking-wider py-2 px-6 flex items-center gap-4 uppercase 2xl:text-lg;

	&.round {
		@apply bg-white font-light rounded-full border border-black border-opacity-25;
	}

	&.arrow.round {
		@apply border-white text-white !pr-2;

		svg {
			@apply overflow-hidden;
		}

		svg circle, svg path {
			@apply duration-300 origin-center;
		}

		&:hover {

			svg circle {
				animation: rotate 3s linear infinite;
			}

			svg path {
				@apply -rotate-45;
			}
		}
	}

	&.round:not(.arrow){
		&:hover {
			@apply border-opacity-100 border-brandBlueDark;
		}
	}

	&.line-arrow {
		@apply !p-0 !text-base md:!text-xl tracking-wider duration-300 hover:!gap-6;
	}
}

.menu-link {
	&:after {
		content: '';
		@apply duration-[0.4s] ease-in-out absolute left-1/2 -translate-x-1/2 bg-white bg-opacity-50 -bottom-1 w-0 h-[1px] origin-center;
	}

	&:hover {
		&:after {
			@apply w-full;
		}
	}
}

.hover-spin {
	@apply duration-300 relative;

	&:before {
		content: '';
		@apply duration-200 absolute h-full w-full top-0 left-0 origin-center rounded-full border border-dashed border-black border-opacity-50;
	}

	&:hover {
		@apply bg-brandBlueLight bg-opacity-10;

		&:before {
			animation: rotate 12s linear infinite;
		}
	}
}

.rotate {
	animation: rotate 12s linear infinite;
	@apply origin-center;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
