<section class="relative bg-white overflow-hidden">
	<div class="container-small text-center block-content items-center">
		<div class="large-heading font-semibold mx-auto relative">
			<h3>{{ block.heading }}</h3>
			<div data-animate-reveal-right class="absolute top-1/2 -translate-y-1/2 left-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
			<div data-animate-reveal-left class="absolute top-1/2 -translate-y-1/2 right-[calc(100%+40px)] w-screen h-[1px] bg-[#1C63A0] bg-opacity-40"></div>
		</div>
        <div class="block-content md:w-[85%]">
            {{ block.content }}
        </div>
		{% if block.icons %}
			<div data-animate-stagger-up class="grid grid-cols-2 md:grid-cols-4 items-center gap-6 place-items-center w-full mt-10">
				{% for item in block.icons %}
					<img class="h-14" src="{{ item.icon.link }}" alt="{{ item.alt }}">
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>
