<section class="relative bg-brandBackground overflow-hidden">
	<div class="container">
		<div class="bg-white">
            <div class="container max-w-[1050px] text-center block-content items-center py-10">
                {{ block.content }}
            </div>
        </div>
	</div>
</section>
