<section class="relative bg-white">
    <div class="container">
        {% include "partial/image.twig" with { image: Image(block.image).src, alt: block.image.alt, class: "w-full aspect-16/9 md:aspect-[16/8] object-center object-cover pointer-events-none" } %}
    </div>
</section>
