<div data-lenis-prevent class="deal-modal fixed top-0 left-0 flex items-center justify-center w-screen h-full opacity-0 pointer-events-none duration-500 -z-50 overflow-y-scroll">
	<div class="toggle-deal-modal fixed top-0 left-0 w-screen h-full bg-opacity-75 bg-black"></div>
	<div class="deal-modal-inner relative w-[95%] mt-10 md:mt-20 h-full md:w-4/5 translate-y-10 duration-500">
		<div class="toggle-deal-modal absolute z-50 top-4 right-4 p-4 flex items-center gap-2 cursor-pointer">
			{% include "icons/cross.twig" with { class: "relative stroke-white" } %}
			<span class="text-black">Close</span>
		</div>
		<div class="relative bg-white h-full">
			{% for item in fields.deals %}
				<div data-deal-content="{{ loop.index }}" class="deal-content block-content items-center !hidden mx-auto py-20 container bg-white">
					{% if item.background %}
						{% include "partial/image.twig" with { image: Image(item.background).src, alt: item.background.alt, class: "w-full aspect-[4/1] object-center object-cover pointer-events-none" } %}
					{% endif %}
					<div class="block-content items-center text-center max-w-[900px]">
						<h3>{{ item.title }}</h3>
						<p class="text-lg font-medium">{{ item.price }}</p>
						<p>{{ item.details }}</p>
						<a href="/contact-us" class="button">Enquire now</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
